
<div>
login: <%= @user.login %>
</div>
<div>
name: <%= @user.name %>
</div>
<div>
email: <%= @user.email %>
</div>
<div>
created_at: <%= @user.created_at %>
</div>
<div>
updated_at: <%= @user.updated_at %>
</div>
